.button {
    @apply border-none h-10;
    @apply px-[var(--seam-button-horizontal-padding)];
    border-radius: var(--seam-button-radius);
    font-size: var(--seam-text-base);
    transition-property: padding border-radius;
    transition-duration: 1s;
}

.button--loading {
    padding: 0.5rem;
    @apply rounded-full;
    transition-property: padding border-radius;
    transition-duration: 1s;
}

.button--success {
    padding: 0.5rem;
    @apply rounded-full text-white;
    background: rgb(52 211 153);
    transition-property: padding border-radius background;
    transition-duration: 1s;
}

.button--fail {
    padding: 0.5rem;
    @apply rounded-full text-white;
    background: rgb(244 63 94);
    transition-property: padding border-radius background;
    transition-duration: 1s;
}

.button--primary {
    @apply text-white;
    background: var(--seam-button-primary);
    transition-property: padding border-radius background;
    transition-duration: 1s;
    &:hover {
        background: var(--seam-button-primary--hover);
    }
    &:active {
        background: var(--seam-button-primary--active);
    }
}

.button--subtle {
    @apply text-slate-500;
    background: var(--seam-button-subtle);
    transition-property: padding border-radius background;
    transition-duration: 0.2s;
    &:hover {
        background: var(--seam-button-subtle--hover);
    }
    &:active {
        background: var(--seam-button-subtle--active);
        @apply text-blue-600;
    }
}